# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
Java/ACM/ACM.iml
Java/ACM/.idea/.name
Java/ACM/.idea/compiler.xml
Java/ACM/.idea/misc.xml
Java/ACM/.idea/modules.xml
Java/ACM/.idea/vcs.xml
Java/ACM/.idea/workspace.xml
Java/ACM/.idea/copyright/profiles_settings.xml
Java/codeTest/codeTest.iml
Java/codeTest/.idea/compiler.xml
Java/codeTest/.idea/description.html
Java/codeTest/.idea/misc.xml
Java/codeTest/.idea/modules.xml
Java/codeTest/.idea/project-template.xml
Java/codeTest/.idea/uiDesigner.xml
Java/codeTest/.idea/vcs.xml
Java/codeTest/.idea/workspace.xml
Java/codeTest/.idea/copyright/profiles_settings.xml
Java/codility/codility.iml
Java/codility/.idea/.name
Java/codility/.idea/compiler.xml
Java/codility/.idea/misc.xml
Java/codility/.idea/modules.xml
Java/codility/.idea/vcs.xml
Java/codility/.idea/workspace.xml
Java/codility/.idea/copyright/profiles_settings.xml
leetcode/README.md
leetcode/Java/leetcode.iml
leetcode/Java/.idea/.name
leetcode/Java/.idea/compiler.xml
leetcode/Java/.idea/misc.xml
leetcode/Java/.idea/modules.xml
leetcode/Java/.idea/vcs.xml
leetcode/Java/.idea/workspace.xml
leetcode/Java/.idea/copyright/profiles_settings.xml
leetcode/Python/.idea/.name
leetcode/Python/.idea/misc.xml
leetcode/Python/.idea/modules.xml
leetcode/Python/.idea/Python.iml
leetcode/Python/.idea/vcs.xml
leetcode/Python/.idea/workspace.xml
Java/bloomberg-interview/.idea/compiler.xml
Java/bloomberg-interview/.idea/description.html
Java/bloomberg-interview/.idea/misc.xml
Java/bloomberg-interview/.idea/modules.xml
Java/bloomberg-interview/.idea/project-template.xml
Java/bloomberg-interview/.idea/uiDesigner.xml
Java/bloomberg-interview/.idea/vcs.xml
Java/bloomberg-interview/.idea/workspace.xml
